CREATE TABLE CardSet (
      id TEXT PRIMARY KEY,
      name TEXT,
      series TEXT,
      printedTotal INTEGER,
      total INTEGER,
      releaseDate TEXT,
      updatedAt TEXT,
      symbol TEXT,
      logo TEXT,
      ptcgoCode TEXT
    );
CREATE TABLE Abilities (
      id INTEGER PRIMARY KEY AUTOINCREMENT,
      name TEXT UNIQUE,
      text TEXT
    );
CREATE TABLE sqlite_sequence(name,seq);
CREATE TABLE Attacks (
      id INTEGER PRIMARY KEY AUTOINCREMENT,
      name TEXT UNIQUE,
      damage TEXT,
      text TEXT
    );
CREATE TABLE Card (
      id TEXT PRIMARY KEY,
      name TEXT,
      supertype TEXT,
      subtypes TEXT,
      hp INTEGER,
      types TEXT,
      evolvesFrom TEXT,
      weaknesses TEXT,
      resistances TEXT,
      evolvesTo TEXT,
      retreatCost TEXT,
      convertedRetreatCost INTEGER,
      flavorText TEXT,
      artist TEXT,
      rarity TEXT,
      nationalPokedexNumbers TEXT,
      regulationMark TEXT,
      imagesSmall TEXT,
      imagesLarge TEXT,
      rules TEXT,
      number TEXT,
      cardSetId TEXT,
      FOREIGN KEY (cardSetId) REFERENCES CardSet (id)
    );
CREATE TABLE CardAbilities (
      id INTEGER PRIMARY KEY AUTOINCREMENT,
      cardId TEXT,
      abilityId INTEGER,
      FOREIGN KEY (cardId) REFERENCES Card (id),
      FOREIGN KEY (abilityId) REFERENCES Abilities (id)
    );
CREATE TABLE CardAttacks (
      id INTEGER PRIMARY KEY AUTOINCREMENT,
      cardId TEXT,
      attackId INTEGER,
      cost TEXT,
      convertedEnergyCost INTEGER,
      FOREIGN KEY (cardId) REFERENCES Card (id),
      FOREIGN KEY (attackId) REFERENCES Attacks (id)
    );
